<div class="container">
    <div class="row mt-5">
        <div class="col-10 mx-auto">
            
            
            <%= render 'form', post: @post %>
            
            
            <%= link_to '<< Back', posts_path %>
        </div>
    </div>
</div>
