.container
  .row
    .col-10
      h1 About Re:note
      p
        |
          Re：noteは勉強内容を記録するノートアプリです。<br>
          最大の特徴は、復習を促すリマインド機能がついていることです。
      p
        |
          エビングハウスの忘却曲線というものをご存知ですか？<br>
          学習した内容を1日で約67%、1ヶ月で約79%忘れてしまうという恐ろしい研究結果です。<br>
          これだけ聞くと勉強する気を失ってしまうかもしれませんが安心してください！<br>
          わずかな復習時間でも、最適な期間で復習することで、脳への定着率を高めることができるとも言われています。<br>
          その最適な期間と復習時間とは<br>
          <br>
          24時間後に10分間<br>
          1週間後に5分間<br>
          1ヶ月後に3分間<br>
          Re:noteではこれらの研究結果に基づき、最適な復習タイミングでリマインドします。<br>
      p
        |
          あなたはこれから、勉強内容をまとめたノートを作成し、リマインダーに従ってノートを見返すだけで<br>
          より多くの知識を蓄えることができるでしょう！<br>
          <br>
          自分のノートは公開することができます。<br>
          他のユーザーのノートにもリマインダーを設定することができるので、みんなで知識を共有して高め合っていきましょう！<br>