/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "trix";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;500;700&family=Zen+Kaku+Gothic+New:wght@300;400&display=swap');

* {
  font-family: 'Zen Kaku Gothic New', sans-serif ;
}

a {
  color: #555;
}
a:hover {
  color: #222;
  text-decoration: underline 2px #ffdc00;
}
.non-deco:hover {
  text-decoration: none;
}

.notice,
.marker {
  background:linear-gradient(transparent 85%, #ffdc00 85%);
  font-weight:bold;
}

.alert {
  background:linear-gradient(transparent 80%, #ff7f7f 80%);
  font-weight:bold;
    padding: 0;
    border: none;
    border-radius: 0rem;
}

#main-visual {
  height: 250px;
  width: 100%;
  background-image: image-url('main-visual.png');
  background-size: cover;
  background-position: bottom;
  font-family: 'Noto Serif JP';
}

#main-visual p {
  position: relative;
  top: 120px;
  left: 40px;
}

// trix heading用
.card h1 {
    font-size: 1.5em;
}
.trix-content {
  height: 400px !important;
  max-height: 400px !important;
  overflow-y: auto;
}
.quote {
  display: none;
}
pre {
  background-color: #eee;
  padding: 10px;
}


// bootstrap 修正
.form-control-sm {
  border: solid 1px #343a40;
}

// texr_area in contact form
#contact-message {
  width: 300px;
}

.pagination {
  justify-content: center;
}

.pagination * {
  margin: 0 2px;
}